.popupcart { 
	width: 800px;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-icab-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	position: relative;
	box-shadow: 0 0 50px rgba(0,0,0,0.6);
	z-index:999;
}
#popupcart-bg{
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000, endColorstr=#88000000);
	position: fixed;
	z-index: 100;
	overflow: hidden;
	top: 0;
	left: 0;
	display:none;
}
.popupcart .title{
	cursor: move;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	-ms-border-radius: 5px 5px 0px 0px;
	-icab-border-radius: 5px 5px 0px 0px;
	border-bottom: 1px #ccc solid;
	padding: 10px 10px;
	margin-bottom: 40px;
	background-color:#e4e4e4;
}
.popupcart .title a.close {
	float:right;
	margin-right: 5px;
	margin-top: 5px;
}
#popupcart{display:none;}
.popupcart h1{
	position:relative;
	margin-left:0;
	margin-top:1px;
}
#popupcart .popupcart_content{ 
	display: inline-block;
	width: 100%;
}

.popupcart h4.heading{
	font-size: 20px !important;
	color: #000;
	font-family: Tahoma, Arial;
	font-weight: normal !important;
	margin: 0px !important;
}
.popupcart .mini-cart-info .remove{
	text-align: center;
}
.popupcart-table {
	border-right: none !important;
	border-left: none !important;
	/*border-bottom: 1px solid #DDDDDD;*/
}
table.popupcart-table td:first-child {
	border-left: 1px solid #ddd;
}
table.popupcart-table td:last-child {
	border-right: 1px solid #ddd;
}
.popupcart-table img{
	border: none !important;
}
.popupcart-table tbody td {
	vertical-align: middle;
	font-size: 14px !important;
}
.popupcart-table tbody .name a{
	font-size: 14px !important;
}
.popupcart-table thead td{
	text-align: center !important;
}
.popupcart-table tbody .quantity-p, .popupcart-table tbody .quantity-m{
	text-decoration: none;
	color: #4D4D4D;
	font-size: 18px;
}
.popupcart-table tbody .quantity{
	text-align: center;
}
.popupcart-table tbody .quantity input{
	font-size: 14px;
	text-align: center;
}
.popupcart #cart{
	padding: 0 25px;
}
.popupcart-recommend {
	padding: 0px 0 30px 0;
	width: 100%;
	background: #eee;
	border-top: 1px solid #cccccc;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-icab-border-radius: 0 0 5px 5px;
}
#popupcart-recommend-title {
	font-family: Tahoma, Arial;
	font-size: 20px;
	padding: 10px 10px;
	text-align: center;
	border-bottom: 1px #ccc solid;
	background-color: #E4E4E4;
}
.mini-cart-infos {
	padding: 0 25px;
	display: inline-block;
	width: 100%;
}
.popupcart .mini-cart-info{
	/*overflow-y: scroll;*/
	/*height: 300px;*/
}
.popupcart-table .image img{
	border: none;
}
.popupcart-table tfoot td{
	border: none !important;
}
.button.checkout{
	float: right;
}
.popupcart-table-total td{
	text-align: right !important;
}
.popupcart-table-total td div:first-child {
	margin-top: 0px;
}
.popupcart-table-total td div {
	margin: 10px 0px;
}
.popupcart-table-total td div:last-child {
	margin-bottom: 0px;
}
.popupcart-table-total .tax{
	font-size: 11px;
	color: #A6A6A6;
}
.popupcart .empty{
	margin: 0px 0px 15px;
	font-size: 14px;
}
.popupcart .jcarousel-skin-opencart .jcarousel-container{
	background: none;
	margin-bottom: 0px;
}
#popupcart-carousel{
	/*height: 130px;*/
	overflow: hidden;
	margin-top: 30px;
}
#popupcart .jcarousel-item{
	text-align: left;
	width: 210px;
	height: 135px;
	border: 1px #ddd solid;
	padding: 10px;
	background-color: #F9F9F9;
	overflow: hidden;
}
#popupcart .jcarousel-item .image{
	float: left;
}
#popupcart .jcarousel-item .image img{
	margin-right: 10px;
}
#popupcart .jcarousel-item .name{
	margin: 0px 0px 10px;
}
#popupcart .jcarousel-item .price{
	font-size: 14px;
	font-weight: bold;
	margin: 7px 0px;
	float: left;
}
#popupcart .jcarousel-item .cart{
	float: right;
}
#popupcart .jcarousel-item .block{
	clear: both;
	margin-top: 5px;
	overflow: auto;
}
#popupcart .jcarousel-skin-opencart .jcarousel-next-horizontal{
	background: url(/image/popupcart/carousel-right.png);
	top: 46px;
	right: 10px;
	width: 24px;
	height: 24px;
}
#popupcart .jcarousel-skin-opencart .jcarousel-prev-horizontal{
	background: url(/image/popupcart/carousel-left.png);
	top: 46px;
	left: 10px;
	width: 24px;
	height: 24px;
}
#popupcart .cart-info table{
	margin-bottom: 35px;
}